.block_text {
  width: 949px;
  height: 100%;
  border-left: 1px rgba(250, 250, 250, 0.226) solid;
  border-bottom: 1px rgba(250, 250, 250, 0.226) solid;
  background-color: rgb(19, 19, 19);
  border-bottom-right-radius: 20px;
  font-size: 40px;
}
.main_end {
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
}
.notes_header {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

.header_item {
  width: 940px;
  background-color: red;
  height: 50px;
}
.header_text {
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  padding: 10px 20px;
}
.basic_text {
  width: 95%;
  height: 85%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  word-break: break-all;
  display: flex;
  overflow: scroll;
  padding: 0 20px;
}
.edit_field {
  width: 949px;
  height: 100%;
  border-left: 1px rgba(250, 250, 250, 0.226) solid;
  border-bottom: 1px rgba(250, 250, 250, 0.226) solid;
  background-color: rgb(19, 19, 19);
  border-bottom-right-radius: 20px;
  font-size: 40px;
}
.header_block {
  width: 100%;
}
.header_input {
  width: 90%;
  background-color: rgb(19, 19, 19);
  height: 40px;
  border: 0;
  color: #fff;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  outline: none;
  padding: 5px 20px;
}
.notes {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width: 90%;
   border: 0;
  height: 560px;
   outline: none;
   color: #fff;
  background-color: rgb(19, 19, 19);
  padding: 1px 20px;
  resize: none; 
}
